:root {
    --background-color: #f5f5fa;       
    --text-color: white;
    --page-text-color: #232a2f;
                    
    --button-color: #153147;
    --button-color-hover:rgb(26, 78, 118);

    --noir-color: #232a2f;
    --navy-color: #153147;
    --mist-color: #adb8bb;
    --almond-color: #edeae4;
    --ivory-color: #f9f8f7;
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:calc(100vh - 45px);
    background-color:var(--ivory-color);
    margin:auto;
}

#prodContainer{
    margin:20px;
    width:1200px;
    height:600px;
    background-color: white;
    border-radius:20px;
    display: flex;
    overflow:hidden;
    box-shadow: 0 0 5px var(--navy-color);
}

#productImg{
    width:60%;
    background-color: black;
    height:auto;
}

#info{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#name{
    width:100%;
    padding:10px;
    font-size:1.5em;
}

#details{
    width:100%;
    padding:10px;
    border-top: solid 3px var(--navy-color);
    border-bottom: solid 3px var(--navy-color);
}

.detail{
    font-size:1.1em;
    display: flex;
    justify-content: space-between;
}

#infoSide{
    width:40%;
    display: flex;
    flex-direction: column;
    padding:20px;
    padding-right:25px;
}

#buyForm{
    margin:10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:100%;
}

#stock{
    width:100px;
    height:50px;
    font-size:25px;
    text-align: center;
    border-radius:10px;
    border: solid 2px var(--navy-color);
}

#buy{
    height:50px;
    border-radius:10px;
    margin-bottom:20px;
    background-color: var(--button-color);
    color:var(--text-color);
    border:none;
}

#buy:hover{
    cursor:pointer
}

#stockWrapper{
    height:auto;
}

#controlStock{
    display: flex;
    margin:auto;
    width:auto;
    align-self: center;
}

#controlStock button{
    width:50px;
    height:50px;
    margin: 0px 10px;
    border-radius:10px;
    font-size:30px;
    background-color:var(--navy-color);
    color:var(--text-color);
    border:none;
}

#controlStock button:hover{
    cursor: pointer;
}

/* i vjedha prej google qto per mi hek arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
