:root {

    --background-color: #f4f4f9;
    --button-colors: rgb(69, 100, 204);
    --button-color-hover: rgb(49, 68, 133);
    --success-color: #4CAF50;
    --error-color: #f44336;
}


body {
    font-family: 'Arial', sans-serif;
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}



/* SIGN UP PAGE */
.signup-container {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.signup-container h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.signup-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
}

.signup-container input[type="submit"] {
    background-color:var(--button-colors);
    color: white;
    font-size: 16px;
    cursor: pointer;
    border: none;
}

.signup-container input[type="submit"]:hover {
    background-color: var(--button-color-hover);
    transition: all 0.2s ease-in-out;
}

.signup-container input:focus {
    border-color: var(--button-color-hover);
    outline: none;
}

.signup-container .error, .signup-container .success {
    text-align: center;
    margin-top: 15px;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.signup-container .error {
    background-color: var(--error-color);
}

.signup-container .success {
    background-color: var(--success-color);
}

/* END OF SIGN UP PAGE */




